
*{
    box-sizing: border-box;
}

html{
    scroll-behavior: smooth;
}
body{
    margin: 0 ;
    font-size: 1rem;
    font-family: 'Heebo', sans-serif;
    letter-spacing: 2px;
    /* background-color: #1f2421; */
    color: #6c757d;
    
}

.container{
    /* margin-left: 1em; */
}

/* 
===========
    Main
=========== */

main,
.section-about,
.section-skills{
    
    /* border:2px solid red; */
}
main{
    margin-top: 0;
    margin-bottom: 5em;
    padding:5em 0 5em 2em ;
    height: 100vh;
    
    
}    


/* Nav bar */

.navbar{
    font-size: 1.1rem;
    font-weight: 600;
    /* border: 2px solid red; */
    /* background-color: #e9f5db; */
    padding: 1.15em;
    width: 100%;
    position: absolute;
    top:0;
    left:0;
    right: 0;
    
  
}

.navbar ul,
.navbar{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.navbar-name{
    font-size: 2rem;
    font-weight: 800;
    color: #55a630;
    text-decoration: none;
    margin-left: 0.5em;
}

.navbar ul{
    /* border: 2px solid green; */
    min-width:40%;
    padding: 0;
    margin-right: 2em;
    margin-left: auto;
    
}

.navbar ul li{
    list-style: none;
    color: #1f2421;
    letter-spacing: 3px;
    animation: list-item 900ms 1000ms ease;
    margin-left:2.5em;
    
}

/* @keyframes list-item{
    0% {
        color:#55a630;
        margin-top: 2em;
        
    }
   
  
} */

.navbar-link{
    text-decoration: none;
    color: #1f2421;
    position: relative;
}

.navbar-link:after{
    background-color: #55a630;
    content: "";
    position: absolute;
    left:0;
    bottom: -3px;
    height: 2px;
    transition: 0.3s;
    width:0;

}

.navbar-link:hover::after{
    color:#55a630;
    width: 100%;
}



/* main heading */
.main-heading {
    font-size:4.5rem;
    color: #1f2421;
    margin-bottom:0.625em;
    margin-top: 2em;
    animation: text 900ms 1000ms ease ;
}
@keyframes text{
    0% {
        color:#e9f5db;
        margin-top: 3.5em;
        
    }
  
}

.name .green{
    color: #55a630;
}

.social-media{
    max-width: 80%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 1.25em;
   
}
.social-icon{
    max-width:2.6em;
    padding:0.25em;
    margin:0 0.5em;
    transition:transform 120ms;
}


.social-icon:hover{
    /* border:1.5px solid #55a630; */
    /* border-radius: 18px; */
    transform: scale(1.1);
    
}

.style-line{
    width:280px;
    border-bottom:4px solid #55a630;

    
}


/* 
=================
  About section
================= */

.section-about{
    /* border:2px solid #55a630; */
    height:30% ;
    display: flex;
    align-items: flex-start;
    margin-bottom: 3.5em;
}
.section-about p{
    
    /* margin-left:1em; */
    padding: 1em 1.8em ;
    letter-spacing: 1.5px;
    line-height: 30px;
    text-align: justify;
    
    margin-top: 0;
}



/* 
=================
  Skills section
================= */

.section-skills{
    /* border-top: 5px solid #55a630; */
    max-width:60%;
    margin: 5em auto 8em;
    text-align: center;
}

.skills-header{
    color: #1f2421;
    font-size: 2.5rem;
    font-style:'Heebo', sans-serif ;
    font-weight: 600;
    margin-bottom: 0.8em;
   
    
}

.skills-icon{
    width:190px;
    height: 180px;
    padding:2.5em ;
    margin:0 auto;
    /* filter: grayscale(100%); */
}

.icon-card {
    background-color: #fffae5;
    padding: 1em;
    margin: 0.8em;
}



/* 
===================

  Projects section

=================== */

.section-project,
.project-set,
.project-card{
    
    /* border: 2px solid red; */
}

.section-project{
    margin-bottom: 9em;
}

.project-heading{
    font-size: 2.5rem;
    font-weight: 600;
    color: #1f2421;
    padding-left:1em;
}


.project-set{
    display: flex;
    justify-content: space-around;
    margin-bottom:5em;
    border: 2px solid red;
}

.project-card{
    
}

.project-image{
    max-width:550px;
    height:350px;
    background-color:#e9f5db ;
}

.project-name{
    color:#1f2421;
    font-size: 1.8rem;
    font-weight: 500;
    letter-spacing: 2.75px;

}
.project-info{
    max-width: 550px;
    /* border: 2px solid gold; */
    text-align: justify;
}

.project-code{
    display: flex;
    justify-content: space-between;
    max-width: 100%;
    /* margin: 0 1em; */
    border: 2px solid gray;
    font-size: 1.1rem;
    font-weight: 500;
}

.project-code a{
    color: #1f2421;
    text-decoration: none;
    line-height: 1.5em;
    border-bottom: 2px solid #fff;
}

.project-code a:hover{
    border-bottom: 2px solid #1f2421;
    transition: border-bottom 300ms ease 0ms;
}



.section-project-all{
    color: #1f2421;
    font-weight: 600;
    font-size: 1.25rem;
    text-decoration: none;
    /* border: 2px solid red; */
    border-bottom:2px solid #1f2421 ;
    margin-left: 2em;
    text-transform: uppercase;
}


.section-project-all:hover{
    border: none;
}

/*
=================
 Section- Contact
================= */

.section-contact{

    color: #1f2421;
    font-size: 1.1em;
    font-weight: 500;
    margin-bottom: 5.5em;
    

}

.section-contact h2{
    font-size: 2.5rem;
    font-weight: 600;
    
    width: 20%;
    margin: 0.5em auto 0.75em;
}

.form-container{
    /* border: 2px solid red; */
    width: 50%;
    margin:0 auto 1em;
    background-color: #fffae5;
    padding: 1.5em;
   
}

.form-container label{
    display: block;
    letter-spacing: 2px;

}

.form-container textarea{
    resize: none;
}

.form-container textarea,
.form-container .input-field{
    font-size: 1.1rem;
}

.form-container .input-field{
    /* background-color: #e9f5db; */
    width: 100%;
    border:1px solid #dee2e6;
    outline: none;
    border-radius: 5px;
    padding:0.75em 1em ;
    margin:0.8em 0 ;

}

.form-btn{
    width:100%;
    background-color: #1f2421;
    border: none;
    color: #fff;
    cursor: pointer;
    padding: 0.75em 0;
    font-size: 1.125rem;
    font-weight: 500;
    border-radius: 5px;
    transition: all 0.2s ease 0s;
    
    
}

.form-btn:hover{
    background-color: #343a40;
}

/*
==============
 Footer
============== */

footer{
    /* min-height: 150px; */
    font-size: 1.1rem;
    font-weight: 500;
    margin-bottom: 0;
    padding: 2em 0;
    /* background-color: #e9f5db; */
    display: flex;
    justify-content:space-between;
    align-items: center;
    
    
}
footer ul{
    width: 500px;
    padding-left: 0;
    display:flex;
    justify-content: space-around;
    margin: 0 1.5em;
    
}

footer ul li{
    list-style:none;
    padding: 0.1em;
}

.footer-socials-link{
    color: #1f2421;
    text-decoration: none;
    position: relative;
    letter-spacing: 2.2px;
}

.footer-socials-link:after{
    background-color: #1f2421;
    content: "";
    position: absolute;
    left:0;
    bottom: -2.5px;
    height: 1.9px;
    transition: 0.3s;
    width:0;

}

.footer-socials-link:hover::after{
    width: 100%;
}

.footer-socials-link:hover{
    color:#1f2421;
}


/*  Scroll Up Btn */

.scroll-top{
    cursor:pointer;
    object-fit: contain;
    margin-right:1.5em;
    transform:transition 180ms ;
}

.scroll-top:hover{
    transform: scale(1.05);
    
}




/*
==============
 Media queries
============== */

/* for  width of 500 px or smaller */

@media screen and (max-width:440px) {
    .section-about{
        margin-top: 3em;
    }
  
    
}
@media screen and (max-width:600px){
    main{
        height:800px;
    }
    .navbar-name{
        display: none;
    }
    .navbar ul {
     
        margin: 2.25em auto;
        font-size: 1.2rem;
        width: 90%;
    }
    .navbar ul li{
        margin-left: 0;
    }
    .main-heading{
        font-size: 4rem;
    }
    .style-line{
        display: none;
        
    }

    
    .section-about{
        display: block;
   
    }
    .section-about p{
        margin-top: 4em;
    }

    

    footer ul{
        display: block;
    }
}



@media screen and (max-width:1000px) {
    .social-icon{
        margin: 0 1.8em;
    }
    .style-line{
        width: 250px;
    }
   
    .project-set{
        display: block;
    }
    .project-card{
        margin-bottom: 2em;
    }
}





