
*{
    box-sizing: border-box;
}
body{
    margin: 0 ;
    font-size: 1rem;
    font-family: 'Heebo', sans-serif;
    letter-spacing: 2px;
    /* background-color: #e9f5db; */
    color: #6c757d;
}

.container{
    /* margin-left: 1em; */
}

/* 
===========
    Main
=========== */

main,
.section-about,
.section-skills{
    
    /* border:2px solid red; */
}
main{
    margin-top: 0;
    margin-bottom: 5em;
    padding:5em 0 5em 2em ;
    height: 100vh;
    
    
}    


/* Nav bar */

.navbar{
    font-size: 1.1rem;
    font-weight: 500;
    /* border: 2px solid red; */
    /* background-color: #e9f5db; */
    padding: 1.15em;
    width: 100%;
    position: absolute;
    top:0;
    left:0;
    right: 0;
    
  
}

.navbar ul{
    /* border: 2px solid green; */
    width:45%;
    padding: 0;
    margin-right: 2em;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-left: auto;
    
}

.navbar ul li{
    list-style: none;
    color: #1f2421;
    letter-spacing: 3px;
    animation: list-item 900ms 1000ms ease;
    
}

@keyframes list-item{
    0% {
        color:#55a630;
        margin-top: 2em;
        
    }
   
  
}

.navbar-link{
    text-decoration: none;
    color: #1f2421;
    position: relative;
}

.navbar-link:after{
    background-color: #55a630;
    content: "";
    position: absolute;
    left:0;
    bottom: -3px;
    height: 2px;
    transition: 0.3s;
    width:0;

}

.navbar-link:hover::after{
    color:#55a630;
    width: 100%;
}
.navbar-link:hover{
    color:#55a630;
   
}



/* main heading */
.name {
    font-size:4.5rem;
    color: #1f2421;
    margin-bottom:0.625em;
    margin-top: 2em;
    animation: text 900ms 1000ms ease ;
}
@keyframes text{
    0% {
        color:#e9f5db;
        margin-top: 3.5em;
        
    }
  
}

.name .green{
    color: #55a630;
}

.social-media{
    max-width: 80%;
    display: flex;
    justify-content: space-between;
    /* border: 2px solid red; */
    align-items: center;
    margin-top: 1.25em;
   
}
.social-icon{
    max-width:2.6em;
    transition:transform 120ms;
}


.social-icon:hover{
    transform: scale(1.1);
    
}

.style-line{
    width:280px;
    border-bottom:4px solid #55a630;

    
}


/* 
=================
  About section
================= */

.section-about{
    /* border:2px solid #55a630; */
    height:30% ;
    display: flex;
    align-items: flex-start;
    margin-bottom: 3.5em;
}
.section-about p{
    
    /* margin-left:1em; */
    padding: 1em 1.8em ;
    letter-spacing: 1.5px;
    line-height: 30px;
    text-align: justify;
    
    margin-top: 0;
}



/* 
=================
  Skills section
================= */

.section-skills{
    /* border-top: 5px solid #55a630; */
    max-width:60%;
    margin: 5em auto 8em;
    text-align: center;
}

.skills-header{
    color: #1f2421;
    font-size: 2.5rem;
    font-style:'Heebo', sans-serif ;
    font-weight: 600;
    margin-bottom: 1em;
   
    
}

.skills-icon{
    width:190px;
    height: 180px;
    padding:2.5em ;
    margin:0 auto;
    /* filter: grayscale(100%); */
}

.icon-card {
    background-color: #fffae5;
    padding: 1em;
    margin: 0.8em;
}



/* 
===================

  Projects section

=================== */

.section-project,
.project-set,
.project-card{
    
    /* border: 2px solid red; */
}

.section-project{
    margin-bottom: 9em;
}

.project-heading{
    font-size: 2.5rem;
    font-weight: 600;
    color: #1f2421;
    padding-left:1em;
}


.project-set{
    display: flex;
    justify-content: space-around;
    margin-bottom:5em;
}

.project-card{
    
}

.project-image{
    max-width:550px;
    height:350px;
    background-color:#e9f5db ;
}

.project-name{
    color:#1f2421;
    font-size: 1.8rem;
    font-weight: 500;
    letter-spacing: 2.75px;

}
.project-info{
    max-width: 550px;
    /* border: 2px solid gold; */
    text-align: justify;
}

.project-code{
    display: flex;
    justify-content: space-between;
    /* margin: 0 1em; */
    font-size: 1rem;
    font-weight: 500;
}

.project-code-live,
.project-code-github{

    text-decoration: none;
    color:#1f2421;
    
}

.project-code-live:hover,
.project-code-live:focus{
    text-decoration: underline;
}

.project-code-github:hover,
.project-code-github:focus{
    text-decoration: underline;
}

/*
=================
 Section- Contact
================= */

.section-contact{

    color: #1f2421;
    font-size: 1.1em;
    font-weight: 500;
    margin-bottom: 5.5em;
    

}

.section-contact h2{
    font-size: 2.5rem;
    font-weight: 600;
    
    width: 20%;
    margin: 0.5em auto;
}

.form-container{
    /* border: 2px solid red; */
    width: 50%;
    margin:0 auto 1em;
    background-color: #fffae5;
    padding: 1.5em;
   
}

.form-container label{
    display: block;
    letter-spacing: 2px;

}

.form-container textarea{
    resize: none;
}

.form-container textarea,
.form-container .input-field{
    font-size: 1.1rem;
}

.form-container .input-field{
    /* background-color: #e9f5db; */
    width: 100%;
    border:1px solid #dee2e6;
    outline: none;
    border-radius: 5px;
    padding:0.75em 1em ;
    margin:0.8em 0 ;

}

.form-btn{
    width:100%;
    background-color: #1f2421;
    border: none;
    color: #fff;
    cursor: pointer;
    padding: 0.75em 0;
    font-size: 1.125rem;
    font-weight: 500;
    transition: all 0.2s ease 0s;
    
}

.form-btn:hover{
   
}
/*
==============
 Footer
============== */

footer{
    /* min-height: 150px; */
    font-size: 1.1rem;
    font-weight: 500;
    margin-bottom: 0;
    padding: 3em 0;
    background-color: #e9f5db;
    display: flex;
    justify-content:space-between;
    align-items: center;
    
    
}
footer ul{
    width: 500px;
    padding-left: 0;
    display:flex;
    justify-content: space-around;
    margin: 0 1.5em;
    
}

footer ul li{
    list-style:none;
    padding: 0.1em;
}

.footer-socials-link{
    color: #1f2421;
    text-decoration: none;
    position: relative;
    letter-spacing: 2.2px;
}

.footer-socials-link:after{
    background-color: #1f2421;
    content: "";
    position: absolute;
    left:0;
    bottom: -2.5px;
    height: 1.9px;
    transition: 0.3s;
    width:0;

}

.footer-socials-link:hover::after{
    width: 100%;
}

.footer-socials-link:hover{
    color:#1f2421;
}


/*  Scroll Up Btn */

.scroll-top{
    cursor:pointer;
    object-fit: contain;
    margin-right:1.5em;
    transform:transition 180ms ;
}

.scroll-top:hover{
    transform: scale(1.05);
    
}




/*
==============
 Media queries
============== */

/* for  width of 500 px or smaller */
@media screen and (max-width:500px){
    .navbar ul {
        /* display: flex; */
        /* flex-direction: column; */
    }
}








